n8n_workflows/n8n_workflow.json
{
  "name": "n8n_workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -304
      ],
      "id": "b19a8a25-48e9-4be3-81c3-a8593eb3335e",
      "name": "When chat message received",
      "webhookId": "37f2af66-e8e5-4ec6-b54a-da68404c244e"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        224,
        -304
      ],
      "id": "3cef2e84-2369-447b-81cf-3d15b681d2be",
      "name": "Respond to Chat",
      "webhookId": "a4af211a-6777-4c13-9da6-56adb590518c"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ada5ONQDY5WcrsoL",
          "mode": "list",
          "cachedResultUrl": "/workflow/ada5ONQDY5WcrsoL",
          "cachedResultName": "QA_subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.chatInput }}",
            "message_format": "n8n default chat",
            "chat_id": "={{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_format",
              "displayName": "message_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        -304
      ],
      "id": "285f2f94-e520-42a2-86b3-cbf1257310fd",
      "name": "Call 'QA_subworkflow'"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Call 'QA_subworkflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'QA_subworkflow'": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8eef1547-ef4f-4beb-b3ac-549b386d519d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c2d9e2a9d8b14c1710ff3391a97804e4ff493fe7e8237a22fc742dd46d627ce"
  },
  "id": "v71ZLTv4KR2I6mcu",
  "tags": []
}